body {
    margin: 0;
}

.bgdecor {
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: black;
}

.bgdecor video {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.playcanvas {
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.pausemenu {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.pausemenu h1 {
    color: white;
    text-align: center;
    vertical-align: center;
    margin: auto auto;

}

.pausemenubg {
    margin: 0;
    position: fixed;
    background-color: #1f1f1f;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: .4s;
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: .5
    }
}

.fadefull {
    animation-name: fadefull;
    animation-duration: .4s;
}

@keyframes fadefull {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}