body {
    margin: 0;
    user-select: none;
    background-color: black;
}

/*level select section*/

.levelselectcontainer {
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #000000;

}

.levelselectcontainer #lvlslcbg {
    margin: auto;
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.levelselectcontainer #levelselectlist {
    /*background-color: #5a79d0;*/
    width: 30%;
    height: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.levelselectcontainer #levelselectlist #listparent {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0;
    position: absolute;
    right: 0;
    list-style-type: none;
    overflow-y: auto;
}

#levelselectlist ul::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.levelbanner {
    display: block;
    /*border: solid #8c1717;*/
    background: linear-gradient(180deg, rgb(0, 138, 170) 0%, rgba(9, 9, 121, 0) 30%, rgba(8, 25, 132, 0) 70%, rgb(0, 135, 170) 100%);
    border-right: none;
    /*border-radius: 10px 0 0 10px;*/
    width: 100%;
    height: 10%;
    margin: 1% 0;
    overflow: hidden;
}

.levelbanner:hover {
    background: linear-gradient(180deg, rgb(0, 206, 255) 0%, rgba(9, 9, 121, 0) 30%, rgba(8, 25, 132, 0) 70%, rgb(0, 204, 255) 100%);
}

.levelbanner h1 {
    color: white;
    margin: 5%;
    display: flex;
}

#header {
    background-color: #0070d3;
    position: fixed;
    border-bottom-right-radius: 10px;
    width: 60%;
    top: 0;
    user-select: none;
}

#header h1 {
    color: #f2f2f2;
    margin-left: 3%;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
}

/*game section*/

.gameontainer {
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background-color: black;
    animation: fadeinfull;
}

.bgdecor {
    margin: auto;
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: black;
}

.bgdecor video {
    margin: auto;
    max-width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.playcanvas {
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.pausemenu {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 70px;
    user-select: none;
}

.pausemenu h1 {
    color: white;
    background-color: #0070d3;
    text-align: center;
    position: fixed;
    margin-top: 3%;
    width: 100%;
}

.menu {
    color: white;
    user-select: none;
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 18%;
}

.menu #resume {
    background-color: #67971c;
    border-radius: 20px;
    position: fixed;
    margin: 0 42.5%;
    padding: 20px 0;
    width: 15%;
}

.menu #restart {
    background-color: #8c1717;
    border-radius: 20px;
    position: fixed;
    margin: 5% 42.5%;
    padding: 20px 0;
    width: 15%;
}

.menu #options {
    background-color: #3e7ba5;
    border-radius: 20px;
    position: fixed;
    padding: 20px 0;
    margin: 10% 42.5%;
    width: 15%;
}

.menu #levelselect {
    background-color: #3e4f8a;
    border-radius: 20px;
    position: fixed;
    margin: 15% 42.5%;
    padding: 20px 0;
    width: 15%;

}

.menu #mainmenu {
    background-color: #404040;
    border-radius: 20px;
    position: fixed;
    margin: 20% 42.5%;
    padding: 20px 0;
    width: 15%;

}

.menu #resume:hover {
    background-color: #92c920;
}

.menu #restart:hover {
    background-color: #bc1919;
}

.menu #options:hover {
    background-color: #5ebbfc;
}

.menu #levelselect:hover {
    background-color: #5a79d0;
}

.menu #mainmenu:hover {
    background-color: #5d5d5d;
}

.pausemenubg {
    margin: 0;
    position: fixed;
    background-color: #1f1f1f;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.fadein {
    animation-name: fadein;
    animation-duration: .3s;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: .5
    }
}

.fadeinfull {
    animation-name: fadeinfull;
    animation-duration: .3s;
}

@keyframes fadeinfull {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: .3s;
}

@keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
